/* 
    font-family: 'DM Serif Display', serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Vujahday Script', cursive; */

body{
    background: linear-gradient(180deg, rgba(185,131,255,1) 0%, rgba(148,218,255,1) 50%, rgba(153,254,255,1) 100%);
    background-color: rgba(153,254,255,1);
    background-repeat: no-repeat;
    text-align: center;
    margin: 1rem 15rem;
    font-family: 'Ubuntu', sans-serif;
}

table {
    padding: 1rem auto;
}

th {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    font-family: 'DM Serif Display', serif;
}

td {
    border: 1px solid black;
    border-radius: 10px;
    padding: .4rem;
}

h2, h3 {
    font-family: 'DM Serif Display', serif;
}

h1 {
    font-family: 'Vujahday Script', cursive;
    font-size: 3rem;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    font-size: 1.2rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.imgClk {
    width: 9rem;
    height: 9rem;
    margin: 2rem;
}

.imgClk:hover {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
}

.nav {
    margin: 1rem;
    text-align: right;
}

.nav a {
    padding: 3px;
}

.footer {
    padding: 2px;
    margin-top: 3rem;
}
