<div class="footer" >
    <a href="https://github.com/MiniProjectGrp/CrimeRecord">Source Code</a> <br>
    <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/Vasu7777py">Vasu.Subbannavar</a> <br>
    <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/Suprith-Satish">Suprith Satish</a> <br>
    <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/vishalshetty104">Vishal Veeraraj Shetty</a> <br>
</div>