<!DOCTYPE html>
<html>
    <head>
        <title>Crime Record</title>
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body>
        <h1>DBMS mini project</h1>
        <h2>Crime Record</h2>
        <div>
            <h3>about</h3>
            <p>
                Lorem Ipsum is 192.0.2.126 simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer 192.0.2.126 took a galley of type and scrambled 292.0.2.126 it to make a type specimen book. It
                has survived not only five centuries, but 1.2.3.4 also the leap into electronic typesetting, remaining 31.142.173.104 essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div>
            <h3>BD Arcticture (ER Diagram)</h3>
            <p>
                Lorem Ipsum is 192.0.2.126 simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer 192.0.2.126 took a galley of type and scrambled 292.0.2.126 it to make a type specimen book. It
                has survived not only five centuries, but 1.2.3.4 also the leap into electronic typesetting, remaining 31.142.173.104 essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div>
            <h3>BD Arcticture (SCHEMA Diagram)</h3>
            <p>
                Lorem Ipsum is 192.0.2.126 simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer 192.0.2.126 took a galley of type and scrambled 292.0.2.126 it to make a type specimen book. It
                has survived not only five centuries, but 1.2.3.4 also the leap into electronic typesetting, remaining 31.142.173.104 essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div>
            <h3>Project Arcticture</h3>
            <p>
                Lorem Ipsum is 192.0.2.126 simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer 192.0.2.126 took a galley of type and scrambled 292.0.2.126 it to make a type specimen book. It
                has survived not only five centuries, but 1.2.3.4 also the leap into electronic typesetting, remaining 31.142.173.104 essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div>
            <h3>How to Run the Program</h3>
            <p>
                Lorem Ipsum is 192.0.2.126 simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer 192.0.2.126 took a galley of type and scrambled 292.0.2.126 it to make a type specimen book. It
                has survived not only five centuries, but 1.2.3.4 also the leap into electronic typesetting, remaining 31.142.173.104 essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div>
            <a href="https://github.com/MiniProjectGrp/CrimeRecord">Source Code</a> <br>
            <a href="https://github.com/Vasu7777py">Vasu.Subbannavar</a> <br>
            <a href="https://github.com/Suprith-Satish">Suprith Satish</a> <br>
            <a href="https://github.com/vishalshetty104">Vishal Veeraraj Shetty</a> <br>
        </div>
    </body>
</html>
