<div class="nav">
    <a href="/">Home</a>
    <a href="/crime">Crime</a>
    <a href="/criminal">Criminal</a>
    <a href="/fir">Fir</a>
    <a href="/verdict">Verdict</a>
    <a href="/appelas">Appelas</a>
</div>